:root {
    --theme: #eceff4;
    --entry: #eceff4;
    --primary: #3b4252;
    --secondary: #434c5e;
    --tertiary: #d8dee9;
    --content: #2e3440;
    --hljs-bg: #242933;
    --code-bg: #e5e9f0;
    --border: #d8dee9;
}

.dark {
    --theme: #2e3440;
    --entry: #3b4252;
    --primary: #e5e9f0;
    --secondary: #d8dee9;
    --tertiary: #3b4252;
    --content: #eceff4;
    --hljs-bg: #242933;
    --code-bg: #3b4252;
    --border: #434c5e;
}
